@import url("https://fonts.googleapis.com/css2?family=Niramit:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
	font-family: "Cunia";
	src: url("../fonts//14766.eot");
	src: local("☺"), url("../fonts//14766.woff") format("woff"), url("../fonts//14766.ttf") format("truetype"),
		url("../fonts//14766.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
